<input type="text" [(ngModel)]="title">
{{title}}

<input type="text" [(ngModel)]="power">

{{power | exponential}}


<div *ngIf="title === 'ppwicho'"> Este es {{title}} </div>

<div *ngIf="title === 'tray'"> Este es {{title}} </div>

<div *ngIf="title === 'gaby'"> Este es {{title}}  </div>

<div [ngSwitch]="title">
  <p *ngSwitchDefault> No hay match</p>
  <p *ngSwitchCase="'tray'">este es {{title}}</p>
  <p *ngSwitchCase="'ppwicho'">este es {{title}}</p>
  <p *ngSwitchCase="'gaby'">este es {{title}}</p>
</div>



<button (click)=addItem()>Add Item</button>

<ul>
  <li *ngIf="items.length === 0">La lista esta vacia</li>
  <li *ngFor="let name of items; index as i">
    {{name}} {{i}} <button (click)=deleteItem(i)>Borrar</button>
  </li>
</ul>

<div class="product-grid"> 
  <app-product *ngFor="let product of products"
    (productClicked)="clickProduct($event)" 
    [product]="product">
  </app-product>
</div>